* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}
.main_container {
  display: flex;
}
.aside_icons {
  display: flex;
  position: sticky;
  top: 25px;
  color: #272626;
  background-color: #fff;
  z-index: 100;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: 25px;
  font-size: 11.4px;
  font-size: none;
  padding: 0 8px;
  /* border: 1px solid; */
  min-height: 100vh;
}
.aside_icons i img {
  width: 20px;
}
.aside_icons i {
  transition: 0.3s ease-in-out;
}
.aside_icons i:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.aside_icons i p {
  margin-top: -5px;
}

.main_contant {
  width: 100%;
}
#nav1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}
.header_logo img {
  width: 120px;
}
.header_center,
.search_bar {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_center {
  margin-top: -10px;
}
.search_bar input {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  height: 30px;
  font-size: 16px;
  padding: 0 10px;
  transition: 0.3s ease-in-out;
}
.search_bar input:focus {
  outline-color: rgb(185, 210, 255);
  transition: 0.3s ease-in-out;
}
.search_bar button img {
  height: 20px;
  width: 50px;
}
.search_bar button {
  height: 30px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: 0.3s ease-in-out;
}
.search_bar button:hover {
  transition: 0.3s ease-in-out;
  background-color: #cccccca4;
}
.mic {
  background-color: #cccccc7c;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.mic:hover {
  transform: scale(1.02);
  background-color: #ccc;
  transition: 0.3s ease-in-out;
}
.mic img {
  width: 20px;
  display: grid;
}
.header_icons {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 15px;
  margin-right: 20px;
}
.header_icons i img {
  width: 30px;
  transition: 0.3s ease-in-out;
}
.sam_image i img {
  width: 42px;
  height: 45px;
  border-radius: 50%;
}
.header_icons i img:hover {
  transition: 0.4s ease-in-out;
  transform: scale(1.05);
}
.nav2_container {
  display: flex;
  gap: 20px;
}
.nav2_contant {
  border-radius: 18px;
  padding: 5px 10px;
}
.light {
  transition: 0.3s ease-in-out;
  padding: 5px 15px;
  border-radius: 18px;
  color: #fff;
  background-color: #000000;
}
.light:hover {
  background-color: #1a1a1ab6;
  transition: 0.3s ease-in-out;
}
.dark {
  transition: 0.3s ease-in-out;
  color: #000000;
  background-color: #cccccc65;
}
.dark:hover {
  transition: 0.3s ease-in-out;
  background-color: #ccc;
}
main {
  margin-top: 10px;
  min-height: 100vh;
  background-color: #cccccc5e;
}
.grid {
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  display: grid;
}
.sam-image img {
  width: 250px;
}
.small-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sam_contant {
  transition: 0.4s ease-in-out;
  max-width: 270px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.sam_contant:hover {
  transform: scale(1.02);
  transition: 0.4s ease-in-out;
}
.main_text {
  display: flex;
  justify-content: space-between;
}
.info {
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.info h3 {
  font-weight: bold;
}
.info > p {
  font-size: 15px;
  font-weight: 500;
}
.view {
  margin-top: 5px;
  display: flex;
  gap: 10px;
  font-size: 12px;
}
.dots {
  margin-bottom: 60px;
}
