/* font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}
hr {
  color: #bbbbbb;
  margin: 1rem 0;
}
/* Header Style Starts HAre  */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ffffff00;
  box-shadow: 5px 5px 3px rgba(1, 1, 1, 0.3);
}
.container {
  max-width: 1200px;
  margin: 2rem auto;
}
nav {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
}
.header_logo h1 {
  font-size: 3.5rem;
}
.header_icon {
  display: flex;
  gap: 2.5rem;
}
.link a {
  margin: 0 1rem;
}
a {
  color: #000;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
a:hover {
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid #bbbbbb;
}

.icon i {
  transition: 0.3s ease-in-out;
  margin: 0 0.5rem;
}
.icon i:hover {
  color: rgb(245, 82, 82);
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
/* Header Style End HAre  */
/* <!-- Main Menu Starts Hare  --> */
/* <!-- Frist Section Starts Hare  --> */
.frist_contant {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.frist_contant .text h1 {
  font-size: 6rem;
}
.frist_contant .text p {
  font-weight: 300;
  padding-top: 2rem;
  font-size: 3rem;
}
.frist_contant .frist_section_img img {
  border-radius: 4rem;
}
/* <!-- Frist Section EnD Hare  --> */
/* <!-- Secound Section Starts Hare  --> */
.secound_section {
  margin: 5rem 2rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 1rem;
  overflow: hidden;
}
.secound_section_contant {
  padding: 1rem;
  margin: 4rem 0;
}
.secound_section_contant h3 {
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 1.6rem;
}
.secound_section_contant p {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
.date-read_more {
  margin-right: 3rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.secound_section_image img {
  margin-bottom: -0.2rem;
}

/* <!-- Secound Section END Hare  --> */
/* <!-- Third Section Starts Hare  --> */
.third_section {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 3rem;
}
.card1 {
  box-shadow: 5px 5px 5px #00000060;
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid #ccc;
  max-width: 320px;
}
.third_section_image img {
  width: 320px;
}
.ssc1 {
  margin-top: 1.5rem;
}
.drm1 {
  margin-bottom: -2rem;
}
/* <!-- Third Section END Hare  --> */
/* <!-- Forth Section Starts Hare  --> */
.forth_section {
  align-items: center;
}
/* <!-- Forth Section End Hare  --> */
/* <!-- Main Menu End Hare  --> */
/* Footer  */
footer {
  padding: 0.5rem 0;
}
.footer_contant {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_logo {
  font-size: 1.3rem;
}
.footer_icon {
  font-size: 2rem;
}
.footer_icon i {
  padding: 0 1rem;
}
/* Footer  */
/* Media  */
@media (max-width: 786px) {
  .secound_section {
    flex-direction: column;
  }
  footer {
    display: flex;
    padding: 1rem;
  }
  main {
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 1rem;
  }
  html,
  body {
    font-size: 40%;
  }
  .frist_contant {
    flex-direction: column;
  }
  .frist_section_img img,
  .secound_section_image img {
    margin: 2rem 0;
    width: 50vh;
  }
  .secound_section {
    max-width: 70%;
  }
  .footer_contant {
    justify-content: space-around;
  }
  main > div {
    padding: 1rem;
  }
}
/* Media  */
/* /////////////////////////// */
/* /////////////////////////// */
.post_image_container img {
  width: 100%;
  margin-top: -1.9rem;
}
.post_contant1 h1 {
  padding-top: 2rem;
  font-size: 4rem;
  padding-bottom: 1rem;
}
.post_contant1 p {
  font-size: 2rem;
  padding-bottom: 2rem;
}
.post_contant1 .small-letter {
  font-size: 1.5rem;
  padding-left: 3rem;
}
.post_contant2 p {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}
.post_contant2 {
  margin: 3rem 0;
}
.post_contant3 {
  font-size: 1.5rem;
}
.post_contant3 h2 {
  padding-bottom: 2rem;
}
.post_contant3 p {
  margin-bottom: 3rem;
}
/* /////////////////////////// */
/* /////////////////////////// */
